Two Techniques of Handling Imbalanced Dataset is --> 1 . Up Sampling
                                                     2 . Down Sampling

Up Sampling - We try to increase the number of data points in minority
Down Sampling - We try to decrease the number of data points in majority

In [37]:
import numpy as np
import pandas as pd

np.random.seed(123)
n_samples = 1000

class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [38]:
n_class_0, n_class_1

(900, 100)

In [39]:
### Creating Data Frame

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [40]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [41]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [42]:
## Upsampling

df_minority = [df['target']==1]
df_majority = [df['target']==0]

In [50]:
from sklearn.utils import resample

# Assuming df_minority and df_majority are both DataFrames
df_upsampled = resample(df_minority,
                        replace=True,          # Sample with replacement
                        n_samples=len(df_majority),  # Match number of majority class
                        random_state=42)       # For reproducibility

In [51]:
df_upsampled

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 995     True
 996     True
 997     True
 998     True
 999     True
 Name: target, Length: 1000, dtype: bool]

In [52]:
type(df_upsampled)

list

In [53]:
df_upsampled = pd.DataFrame(df_upsampled)

In [54]:
df_upsampled.shape

(1, 1000)

In [55]:
df_upsampled.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
target,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True